@using NoteLy.Web.ViewModels.Song
@* @model IEnumerable<SongCardViewModel> *@
@{
    ViewData["Title"] = "Privacy Policy";
}

    <div class="SongsSection">
        <div class="collectionNameDiv">
        <p class="PlayListName"></p>
        </div>
        <div class="textExplainDiv">
            <p class="numberSign">&#x2116</p>
            <p class="title">Title</p>
            <i class="fa-regular fa-clock"></i>
            <a class="addSong" asp-area="" asp-controller="Song" asp-action="Create">Add Song</a>
        </div>
        <div class="Songs">
            @* @{
            int counter = 1;
            }
            @foreach (var song in Model)
            {
                string formattedTime = song.Duration.Hours > 0
                ? $"{song.Duration.Hours}:{song.Duration.Minutes:D2}:{song.Duration.Seconds:D2}"
                : $"{song.Duration.Minutes}:{song.Duration.Seconds:D2}";
                <div class="Song">
                    <p class="SongNumber">@counter</p>
                    <img src="~/Resources/Note.svg" alt="Alternate Text" />
                    <span class="SongInfo">
                        <p class="Name">@song.Name</p>
                        <p class="Artists">@string.Join(" ", song.Artists)</p>
                    </span>
                    <p class="Duration">@formattedTime</p>
                    <a class="renderComments" asp-area="" asp-controller="Home" asp-action="Index" asp-route-songId="@int.Parse(song.Id)"><i class="fa-solid fa-comment"></i></a>
                    <div class="SongCardActions">
                        <a class="editSong" asp-area="" asp-controller="Song" asp-action="Edit" asp-route-id="@song.Id"><i class="fa-solid fa-pen"></i></a>
                        <a class="deleteSong" asp-controller="Song" asp-action="Delete" asp-route-id="@song.Id"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
                counter++;
            } *@
            <div class="noPlaylistSelectedDiv">
                <p class="noPlaylistSelectedMessage">No Playlist selected</p>
            </div>
        </div>
    </div>
